:root {
    /* Primary brand color */
    --primary-color: #6f7460;   
    

    /* Neutrals */
    --dark-color: #2c2d29;      
    --mid-neutral: #d9dbd2;     
    --light-color: #f7f7f5;     

    /* Accent colors */
    --accent-tan: #a07f5a;      
    --accent-sage: #9fb39c;     
    --accent-rust: #c76d4a;     
    --accent-darkrust: #9a3f25;
}

* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--dark-color);
    background: #f7f7f5; 
}

h1, h2, h3 {
    color: black;
    font-family: Verdana, sans-serif;
}

h4, h5, h6 {
    color: black; 
    font-family: Verdana, sans-serif;
}

a {
    color: var(--accent-rust); 
    text-decoration: none;
    font-family: Verdana, sans-serif;
}
a:hover {
    color: var(--accent-darkrust); 
}


.columns{
    display: flex;
}

/* header */

header{
    background: var(--primary-color);
    width:100vw;
}

#header-contact{
    background:var(--dark-color);
    justify-content: right;
    padding-right:5%;
}

#header-contact a{
    text-align: center;
    padding:0 20px 0 20px;
    font-size: .8vw;
    margin:2px 0;

}

#header-contact a:first-child{
    border-right: 1px solid var(--accent-rust);
}

#main-header{
    justify-content: center;
    display: flex;
    align-items: center;   
    gap: 20px;  
}

#main-header-h{
    display: block;
}

#header-h1{
    margin:auto 0;
    font-size: 5vw;
    color:var(--dark-color);
}
#header-h2{
    margin:0;
    text-align: center;
    font-size: 2.5vw;
    color:var(--dark-color);
}

header img{
    width:80px;
}

#main-nav {
    justify-content: center;
    background:var(--dark-color);
}

#main-nav a{
    text-align: center;
    padding:10px 40px 10px 40px;
    font-size: 1.3vw;
}

#main-nav a:last-child{
    border-right:none;
}

/* home-first-look */

#home-first-look{
    background-image: url(images/cover.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#home-first-look img{
    width:200px;
    margin:150px;
}


/* contact */

#contact{
    background:var(--primary-color);
    width:100%;
    padding: 50px 20px;
    text-align: center;
}

#contact-form{
    text-align: left;
    width: 70%;
    padding: 0 20px;
    color: var(--mid-neutral);
}

#contact-info{
    text-align: left;
    color: var(--mid-neutral);
    margin:0 auto;
}

#contact-info h2, #contact-info h3, #contact-info h4, #contact-info a{
    color: var(--mid-neutral);
}

#contact-info a:hover{
    color: #2c2d29;
}

#contact-info h4,a{
    padding-left:20px;
}

#number-email{
    gap:10px;
}

#number-email input{
    width :50%;
}


#contact h2 {
    margin-bottom: 20px;
    color: var(--text-heading);
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    color: var(--dark-color);
}

input, textarea {
    padding: 10px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background: var(--dark-color);
    color:var(--mid-neutral);
    border:1px solid var(--mid-neutral);
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    width: fit-content;
}

#contact-button{
    text-align: right;
}

button:hover {
background: var(--text-link-hover);
}


/* footer */

footer{
    background: var(--dark-color);
    justify-content: center;
}




