/* Structure */
Body{
    font-family:Arial, Helvetica, sans-serif;
    background:#E0FBFC ;
}

#Main{
    background: #C2DFE3;
    padding: 1%;
    margin:auto;
    width: 70%;
}

/* Typography */
h1 {
    color:#253237;
}

h2 {
    color:#5C6B73;
}

p{
    color:#253237;
}

a{
    text-decoration:none;
    color:#388dbb ;
}

ol{
    color:#388dbb ;
}