/* Structure */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #E0FBFC;
}

#Main {
  margin: auto;
  padding: 5px;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column {
  background: #6e7e81;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 10px;
}

img {
  display: block;
  width: 300px;
  aspect-ratio: 3/1.5;
  max-width: 100%;
  height: auto;
  margin: 10px auto 20px;
}

/* Typography */
h1 {
  text-align: center;
  color: #253237;
}

h2 {
  text-align: center;
  color: #5C6B73;
}

p {
  text-align: center;
  color: #253237;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: larger;
  margin: 10px;
}


@media only screen and (min-width: 768px) {
  .columns {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .column {
    flex: 0 0 25%;
    max-width: 25%; 
    margin: 15px;
  }
}
